/* smartphones */
@media only screen and (max-width:720px){
    /* header / navigation */
    .navbar{
        position: relative;
    }
    .container .logo{
        display: block;
        width: 100%;
        text-align: center;
        float: none;
    }
    .navbar ul{
        float: none;
        text-align: center;
    }
    .navbar ul li{
        float: none;
    }
    .navbar .container{
        padding: 10px;
    }
    .navbar ul li a:hover{
        background-color: rgb(169, 199, 236);
        color: #0b60c9;
    }
    .navbar ul li a.current{
        background-color: rgb(60, 112, 175);
        color: #fff;
    }
    /* hotel history */
    .section .hotel-bg ,.section .hotel-history{
        float: none;
        width: 100%;
        display: block;
        height: auto;
        overflow: auto;
        /* padding: 80px 30px; */

    }
    .section .hotel-bg {
        height: 400px;
    }
    .section{
        height: auto;
    }
    .location,.meals,.gyms{
        float: none;
        display: block;
        width: 100%;
        padding: 50px 25px;
        overflow: auto;
    }
    .showcase .showcase-container{
        padding-top: 130px;
        height: auto;
    }
    .showcase .showcase-container h1{
        line-height: 60px;
    }
    .about-us{
        padding-top: 50px;
    }
    .about-us .container .about-info ,.about-us .container .about-img img ,.about-us .container .about-img{
        float: none;
        width: 100%;
    }
    .about-us .container .about-img{
        padding-top: 30px;
    }
    .our-services{
        display: block;
        text-align: center;
        padding: 20px;
        background-color: rgb(52, 135, 236);
        /* margin-top: 50px; */
        /* color: #333; */
    }
    .testimonials{
        padding: 0;
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .testimonials .container h1 {
        margin-bottom: 80px;
        line-height: 40px;
    }
    .testimony{
        width: 100%;
    }
    /* .testimonials .container .testimony img{
        width: 100px;
        float:none;
        margin: auto;
        display: inline-block;

    } */
    .contact{
        margin-top: 0;
      }
}
